*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: box-border;
    font-family: "Poppins", sans-serif;

}

html, body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #44bcd8;
}

header{
    background: white;
    display: flex;
}

.menu{
    display: flex;
}

.main{
    width: 400px;
    border-radius: 5px;
    background: white;
}

.main .title {
    background: #1874a5;
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 100px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
}

.main form{
    padding: 30px 20px 25px 20px;
}

.main form .row{
    position: relative;
    height: 45px;
    margin-bottom: 15px;
    background: white;
}

.main form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid;
}

.main form .row i{
    display: flex;
    position: absolute;
    color: white;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    background: #1979a9;
    width: 50px;
    height: 100%;
    border: 1px solid #1979a9;
}

.main form .button input{
    padding-left: 0;
    background: #1979a9;
    color: white;
    font-size: 18px;
    border: 1px solid #1979a9;
}

.logo{
    text-align: center;
    display: flex;
}

a{
    position: relative;
    color: black;
    font-size: 15px;
    display: table;
    width: 250px;
    padding: 10px;
}

.main2{
    width: 400px;
    border-radius: 5px;
    background: white;
}

.main2 .title {
    background: #1874a5;
    color: white;
    font-size: 25px;
    font-weight: 600;
    line-height: 100px;
    border-radius: 5px 5px 0 0;
    display: flex;
    justify-content: center;
}

.main2 form{
    padding: 30px 20px 25px 20px;
}

.main2 form .row{
    position: relative;
    height: 45px;
    margin-bottom: 15px;
    background: white;
}

.main2 form .row input{
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid;
}

.main2 form .row i{
    display: flex;
    position: absolute;
    color: white;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    background: #1979a9;
    width: 50px;
    height: 100%;
    border: 1px solid #1979a9;
}

.main2 form .button input{
    padding-left: 0;
    background: #1979a9;
    color: white;
    font-size: 18px;
    border: 1px solid #1979a9;
}

table, th, td {
    background: white;
    border:1px solid black;
    text-align: center;
}

table {
    width: 100%;
}

td, th {
    padding: 5px;
    text-align: center;
}

.Table {
    width: 70%;
    padding: 10px 20px 10px 20px;
    align-items: center;
    margin: 20px auto;
}
