*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: box-border;
    font-family: "Poppins", sans-serif;

}

html, body{
    display: grid;
    height: 100%;
    place-items: center;
    background: #44bcd8;
}

nav{
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background: #fff;
    width: 20%;
    

}
.logo{
    text-align: center;
    display: flex;
    margin-left: 55px;
}
a{
    position: relative;
    color:#1979a9;
    font-size: 15px;
    display: table;
    width: 250px;
    padding: 10px;
    text-align: center;
}

.main-container{
    width: 100%;
    height: 90%;
}
.cart-container{
    position: relative;
    left: 30%;
    width: 36%;
    height: 65%;
    background: rgba(255, 255, 255, .95);
}

table{
    border-collapse: collapse;
}
.cart-product{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;

}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total{
    position: relative;
    top:0;
    left: 42%;
    width: 24%;
    display: flex;
    justify-content: flex-end;
    background: rgba(255, 255, 255, .9);

}
.total table{
    border-top: 2px solid #ff523b;
    width: 100%;
    max-width: 350px;
}
td:last-child{
    text-align:right;

}
th:last-child{
    text-align:right;

}
