@font-face {
    font-family: 'rowdiesregular';
    src: url('rowdies-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root{
    --bg-color: #ffffff;
    --text-color: #121212
}

body{
    color: var(--text-color);
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    position: fixed;
    background: var(--bg-color);
    box-shadow: 0 2px 18px 0 rgb(129 162 182 / 20%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 4%;
    transition: .3s;
}

#menu{
    color: var(--text-color);
    font-size: 32px;
    z-index: 10001;
    display: none;
}

.navbar{
    display: flex;
}

.navbar a{
    color: var(--text-color);
    font-weight: 500;
    margin: 0 12px;
    padding: 10px 30px;
    transition: all .4s ease;
    border-radius: 30px;
}

.navbar a:hover{
    background: var(--text-color);
    color: #fff;
    border-radius: 30px;
}

.icons{
    display: inline-block;
}

.icons a{
    color: var(--text-color);
    font-size: 18px;
    margin-left: 15px;
}

.icons a:hover{
    opacity: 0.6;
}

footer{
    width: 100%;
    bottom: 0;
    z-index: 1000;
    position: relative;
    background: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 4%;
    transition: .3s;
}

.copyright-text{
    margin-left: 20px;
}

.icons2{
    display: inline-block;
}

.icons2 a{
    color: var(--text-color);
    font-size: 24px;
    margin-left: 15px;
}

.icons2 a:hover{
    opacity: 0.6;
}

@media (max-width: 800px) {
    header{
        padding: 15px 8%;
    }
    .navbar{
        top: 100%;
        left: 0;
        right: 0;
        flex-direction: column;
    }
}

.container{
    background-image: url("assets/img.png");
    width: 1500px;
    height: 933px;
    display: flex;
    opacity: .85;
}

.middlelogo{
    display: flex;
    width: 25%;
    height: 12%;
    margin: -25px 0 0 -160px;
    position: absolute;
    top: 50%;
    left: 50%;
}

.middlelogo p{
    font-family: rowdiesregular, serif;
    color: white;
    font-size: 42px;
}

.shopnow{
    display: flex;
    position: absolute;
    bottom: 0;
    left: 27%;
}

.shopnow a{
    color: white;
    font-size: 20px;
    text-decoration: underline;
}

.shopnow a:hover{
    color: black;
    transition: .2s;
}